# Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [2]:
import pandas as pd

In [8]:
ratings_df = pd.read_csv('ratings.csv')
def clasifyer(rate):
    if rate <= 2:
        result = 'Низкий рейтинг'
    elif rate <= 4:
        result = 'Средний рейтинг'
    else:
        4.5 <= rate <= 5
        result = 'Высокий рейтинг'
    
    return result

ratings_df['class'] = ratings_df['rating'].apply(clasifyer)
ratings_df.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  Средний рейтинг
1       1     1029     3.0  1260759179  Средний рейтинг
2       1     1061     3.0  1260759182  Средний рейтинг
3       1     1129     2.0  1260759185   Низкий рейтинг
4       1     1172     4.0  1260759205  Средний рейтинг

# Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [9]:
data = pd.read_csv('keywords.csv')

def column_of_region(row): 
    if ('москва' in row['keyword']) | ('тула' in row['keyword']) | ('ярославль' in row['keyword']):
        return 'Центр'
    if ('петербург' in row['keyword']) | ('псков' in row['keyword']) | ('мурманск' in row['keyword']):
        return 'Северо-запад'
    if ('владивосток' in row['keyword']) | ('сахалин' in row['keyword']) | ('хабаровск' in row['keyword']):
        return 'Дальний восток'
    else: 
        return 'undefined'

data['region'] = data.apply(column_of_region, axis=1)
data.head(128)

               keyword     shows     region
0                   вк  64292779  undefined
1        одноклассники  63810309  undefined
2                порно  41747114  undefined
3                 ютуб  39995567  undefined
4            вконтакте  21014195  undefined
..                 ...       ...        ...
123              avito    984448  undefined
124  викинг фильм 2017    984999  undefined
125    школьный портал    982692  undefined
126    вк моя страница    979105  undefined
127       авито москва    979292      Центр

[128 rows x 3 columns]

# Задание 3 (Бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [11]:
years = [i for i in range(1950, 2010 + 1)]

In [14]:
def production_year(row):
    for year in years:
        if str(year) in row.title:
            return year
    return 1900

In [17]:
movies = pd.read_csv('movies.csv')
movies_copy = movies.copy()
movies_copy['year'] = movies_copy.apply(production_year, axis=1)
ratings = pd.read_csv('ratings.csv')
ratings_movies = ratings.groupby('movieId').agg({'rating':'mean'})
joined_year_ratings = movies_copy.merge(ratings_movies, on='movieId', how='left')
year_ratings = joined_year_ratings.groupby(['year']).agg({'rating':'mean'}).sort_values(by = 'rating', ascending = False)
year_ratings

        rating
year
1951  3.906653
1952  3.802318
1962  3.772962
1953  3.738878
1957  3.693322
...        ...
2002  3.191918
1997  3.183169
1990  3.166759
2003  3.154081
2001  3.133080

[62 rows x 1 columns]